.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AuthPage {
background-image: url(./components/Landing_page.jpg);
height: 150cm;
color:darkmagenta;
font: bold;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
  font-size: 15mm;
}

.navbar {
  background-color: darkmagenta;
  height: 10mm;
  font-size: 8mm;
  display: flex;
  justify-content: space-around;
  
}

.link1 {
  color: antiquewhite;
}

.link2 {
  color: antiquewhite;
}

.link3 {
  color: antiquewhite;
}

.profile {
  /* background-color: antiquewhite;
  color: cadetblue;
  position: relative;
  -webkit-text-stroke:darkmagenta 1px ; */
  background-image: url(./components/earthClimateAction.jpg);
  background-repeat: repeat-y;
  color: cadetblue;
  -webkit-text-stroke:darkmagenta 1px ;
  height: 250mm;
  width: 500mm;
  background-color: antiquewhite;
}

.p1 {
  font-size: 5mm;
}


.issues {
  /* background-image: url(./components/earthClimateAction.jpg);
  background-repeat: repeat-y; */
  color: cadetblue;
  -webkit-text-stroke:darkmagenta 1px ;
  height: 250mm;
  width: 500mm;
  background-color: antiquewhite;
  z-index: -1;
}

.issuesTitle {
  font-size: 15mm;
}
