.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AuthPage {
background-image: url(./components/Landing_page.jpg);
height: 150cm;
color:darkmagenta;
font: bold;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
  font-size: 15mm;
}

.navbar {
  background-color: darkmagenta;
  height: 10mm;
  font-size: 8mm;
  display: flex;
  justify-content: space-around;
  
}

.link1 {
  color: antiquewhite;
}

.link2 {
  color: antiquewhite;
}

.link3 {
  color: antiquewhite;
}

.profile {
  background-image: url(./components/climatehands.jpg);
  color: cadetblue;
  -webkit-text-stroke:darkmagenta 1px ;
  height: auto;
  width: auto;
}

.p1 {
  font-size: 5mm;
}

.issuesmini{
  color: cadetblue;
  -webkit-text-stroke:darkmagenta 1px ;
  height: 250mm;
  width: 500mm;
  background-color: antiquewhite;
  z-index: -1;
  height: 150mm;
  width: 150mm;
  margin-left: 135mm;
  border: 1px black;
  border-width: 3px;
  border-style: double solid;
  margin-top: 50mm;
}

.image1 {


}

.issues{
  background-image: url(./components/earthClimateAction.jpg);
  color: cadetblue;
  -webkit-text-stroke:darkmagenta 1px ;
  height: 350mm;
  width: 500mm;
  background-color: antiquewhite;
  z-index: -1;

}

.issuesTitle {
  font-size: 15mm;
}
